body {
    /* background-color: #efb1ce; */

    background-image: url("src/imagens/comida-japonesa-para-iniciantes\ -\ Copia.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

h1 {
color: #f03d8b;
}